<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:context="http://www.springframework.org/schema/context"
            xsi:schemaLocation="
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <description>codelist对应表</description>
    <!-- 尽调状态 CodeList -->
    <bean id="s001CodeList"
        class="com.xigua.support.codelist.MappedCodeListLoader"
        init-method="load">
        <property name="codeListMap">
            <map>
                <entry key="0">
                    <value>Cpu isolate enable</value>
                </entry>
                <entry key="1">
                    <value>Cpu isolate disable</value>
                </entry>
            </map>
        </property>
    </bean>
</beans>